.service {
  margin-top: vw(390, 80);
  background-image: url("../img/service-sp.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  @include mq(pc) {
    background-position: 64vw 0;
    margin-top: vw(1366, 80);
  }
}

.service-heading__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mq(pc) {
    align-items: flex-start;
  }
}

.service-heading {
  margin-top: 21vw;
  display: inline-block;
  padding: 13px 16px;
  font-size: vw(390, 20);
  font-family: $font_base;
  font-weight: 700;
  text-align: center;
  color: $white;
  line-height: 1;
  letter-spacing: vw(390, 2);
  background-color: $main_color;
  @include mq(pc) {
    margin-top: 5vw;
    font-size: vw(1399, 28);
    line-height: 1;
    letter-spacing: vw(1366, 2.8);
  }

  &__desc {
    margin-top: vw(390, 40);
    font-family: $font_base;
    font-weight: 500;
    font-size: vw(390, 14);
    letter-spacing: normal;
    line-height: 1.86;
    text-align: left;
    @include mq(pc) {
      margin-top: vw(1366, 40);
      font-size: vw(1366, 14);
    }
  }
}

.service-img__wrapper {
  @include mq(sp) {
    margin-top: 8vw;
    display: grid;
    column-gap: vw(390, 80);
  }
  @include mq(pc) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: vw(1366, 940);
    margin: vw(1366, 40) auto 0 auto;
  }
}

.service__card {
  margin: 0 auto;
  width: vw(390, 308);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @include mq(pc) {
    width: vw(1366, 308);
    height: 30vw;
    padding-bottom: vw(1366, 40);
  }

  .more-btn {
    @include mq(pc) {
      display: block;
      margin-top: auto;
    }
  }

  & + & {
    margin-top: vw(390, 80);
    @include mq(pc) {
      margin-top: auto;
    }
  }
}

.service__card-img {
  width: vw(390, 308);
  height: vw(390, 205);
  @include mq(pc) {
    width: vw(1366, 308);
    height: vw(1366, 205);
  }

  figcaption {
    position: absolute;
    bottom: 3vw;
    left: 1vw;
  }
}

.service__card-img-text-box {
  margin-top: -14vw;
  margin-right: auto;
  margin-left: vw(390, 16);
  @include mq(pc) {
    margin-top: -4vw;
    margin-left: vw(1366, 16);
  }
}

.service__card-img-text1 {
  white-space: nowrap;
  display: inline-block;
  padding: 3vw 6.5vw;
  font-family: $font_base;
  font-weight: 700;
  font-size: vw(390, 18);
  color: $main_color;
  line-height: 1;
  letter-spacing: vw(390, 1.8);
  text-align: left;
  background: $white;
  @include mq(pc) {
    padding: vw(1366, 10) vw(1366, 16);
    font-size: vw(1366, 20);
    line-height: 1;
    letter-spacing: vw(1366, 2);
  }
}

.service__card-img-text2 {
  white-space: nowrap;
  font-family: $font_sub;
  font-size: vw(390, 11);
  line-height: 1.82;
  letter-spacing: normal;
  text-align: left;
  color: $main_color;
  @include mq(pc) {
    font-size: vw(1366, 11);
  }
}

.service__card-text {
  margin-top: 5vw;
  margin-bottom: 8vw;
  width: 70vw;
  font-family: $font_base;
  font-weight: 500;
  font-size: vw(390, 14);
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  @include mq(pc) {
    width: 20vw;
    margin-top: 1vw;
    margin-bottom: 0;
    font-size: vw(1366, 14);
  }
}

